mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+b.tabs
			.container
				+e.caption
					.row
						mixin btn(t, i)
							+e.btn.col-6.col-md-4.col-xl-2(data-bg=`img/@2x/bg-${i}.jpg` loading='lazy')&attributes(attributes)
								+e.btn-inner
									+e.IMG.image(src=`img/@2x/webp/caption-${i}.webp` loading='lazy')
									span= t
						+btn('Термомоди-фицируем', 1).active
						+btn('Топливные гранулы', 2)
						+btn('Сушим', 3)
						+btn('Строгаем', 4)
						+btn('Фитосанитарная обработка', 5)
						+btn('О нас', 6)
				+e.wrap
					mixin content( l,t, ...items)
						+e.content&attributes(attributes)
							+e.item
								+e.H2.title.text-center= t
								+e.text
									each item in items
										p!= item
								+b.A.btn(href=`/${l}.html`)
									span Узнать подробнее
					+content('02-thermal','Термомодификация древесины', `&minus;&nbsp;Передовые технологии термообработки древесины в&nbsp;среде инертных газов`, `&minus;&nbsp;Знание технологии термодификации и&nbsp;ее&nbsp;особенностей от&nbsp;А до&nbsp;Я`, `&minus;&nbsp;Возможен учет индивидуальных пожеланий и&nbsp;требований`).active
					+content('03-granules','Топливные гранулы', `&minus;&nbsp;Экологически чистое биотопливо с&nbsp;высокой теплотворной способностью`, `&minus;&nbsp;Топливные гранулы идеально подходят для автоматизированной подачи`, `&minus;&nbsp;Не&nbsp;применяем связующие химические добавки`)
					+content('04-dry','Сушим', `&minus;&nbsp;Используем импортное оборудование от&nbsp;ведущего производителя Инкомак`, `&minus;&nbsp;Круглосуточно контралируем процесс`, `&minus;&nbsp;Наш персонал имеет большой опыт работы`)
					+content('05-whittle','Строгаем', `&minus;&nbsp;Обеспечиваем полный спектр услуг от&nbsp;сушки до&nbsp;упаковки`, `&minus;&nbsp;На&nbsp;нашем заводе высококачественное импортное оборудование от&nbsp;фирмы Leadermac`)
					+content('06-phytosanitary','Фитосанитарная обработка', `&minus;&nbsp;Наша компания находится в&nbsp;системе ФГИС &laquo;Аргус-Обеззараживание&raquo;`, `&minus;&nbsp;Специальные технологии позволяют уничтожить большинство видов вредителей древесины`)
					+content('07-about','О нас', `&minus;&nbsp;Оказываем полный спектр услуг: от&nbsp;сушки до&nbsp;термообработки`, `&minus;&nbsp;Большой опыт работы: 12&nbsp;лет на&nbsp;рынке`, `&minus;&nbsp;Индивидуально оговариваем условия с&nbsp;каждым клиентом`)
	// end sContent